<div class="container">
    <div class="Logincontent">
        <h3>Lets Make Bussiness Easy</h3>
        <h4> Handling Lots Of Paper is Deficault <br> Now Problem Solved </h4>
        <h4> Save Time on Paper Pens</h4>
    </div>
    <form class="LoginForm" action="/Home/Login" method="post">
        <h2 style="text-align: center;">Login</h2>
        <label for="email">Email</label>
        <input type="email" name="UserEmail" id="UserEmail">
        <label for="password">Password</label>
        <input type="password" name="UserPassword" id="UserPassword">
        <label for="password">ConfirmPassword</label>
        <input type="password" name="ConfirmPassword" id="ConfirmPassword">
        <input type="submit" value="Login">
        <a href="/Home/Register" style="text-decoration:none; color:cornflowerblue ;">
            <p style="text-align: center;">NewUser?</p>
        </a>
    </form>
 
</div>