<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page.Home</title>
       @Styles.Render("~/Content/App")
</head>
<body>
    <div class="nav">
        <div class="logo">
            <a href="index.html " style="text-decoration: none; color: black;">
                <h2>EasyBL</h2>
            </a>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Abouts</a></li>
            </ul>
        </div>
    </div>
    <div>
        @RenderBody();
    </div>
</body>
</html>